.body{
  
        background-color: #145DA0; /* Blue color, change to your preferred shade */
        margin: 0;
        font-family: Arial, sans-serif; /* Optional: Set a default font */
        color: #00203F; /* Optional: Set default text color */
      
}


.city-details-container {
    display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #E0F7FA; /* Background color for content area */
  border-radius: 10px;
  width: 90%; /* Adjust width as needed */
  max-width: 600px; /* Limit the maximum width */
  min-height: 100vh; /* Ensure the container takes full viewport height */
  margin: 0 auto; /* Center container horizontally */
  }
  
  /* Loading indicator */
  .loading-indicator {
    font-size: 1.5em;
    text-align: center;
    margin-top: 20px;
  }
  
  /* Weather section */
  .weather-section {
    background-color: #145DA0;
    width: 300px;
    padding: 15px;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 500px;
    margin-top: 100px;
    
  }
  
  .weather-city {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .weather-icon {
    font-size: 3em;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
  }
  
  .weather-temp {
    font-size: 2em;
    font-weight: bold;
    color: white;
  }
  
  .weather-description {
    font-size: 1.2em;
    color: white;
    margin-top: 5px;
  }
  
  /* Toggle button */
  .toggle-button {
    background-color: #145DA0;
    border: none;
    padding: 10px 20px;
    margin-top: 15px;
    cursor: pointer;
    color: white;
    border-radius: 50px;
    font-size: 1em;
    transition: background-color 0.3s;
    margin-left: 500px;
  }
  
  .toggle-button:hover {
    background-color: #0056b3;
  }
  
 .favcity{
  border-radius: 50px;
 } 

 .favcity-link{
  text-decoration: none; /* Remove underline */
  color: #00203F; /* Text color */
  background-color: #2E8BC0; /* Background color */
  padding: 10px 20px; /* Padding */
  border-radius: 50px; /* Rounded corners */
  font-size: 16px; /* Font size */
  display: inline-block; /* Ensure padding and background color apply correctly */
  margin-bottom: 20px; /* Space below the link */
  transition: background-color 0.3s ease; /* Smooth transition for hover effect */
 }

 .favcity-link{
  background-color: #004494;
 }