
body {
  height: 100%;
  color: #00203F;
  margin: 0;
  font-family: Arial, sans-serif;

  
}

.nav-bar{
  background-color: #223A59;
  margin: 0%;
  padding: 0%;
  height: 70px;
  width: 100%;
  display: flex;
 overflow: hidden;
 align-items: center;
 box-sizing: border-box;
 padding: 0 20px;

}

.nav-bar a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.nav-bar a:hover{
  background-color:#00203F;
  color: white;
  height: 100%;
}

.nav-bar a:active{
  color: black;
}

.searching-container{

  display: flex;
  align-items: center; /* Vertically align items */
  margin: 20px auto; /* Center container horizontally */
  max-width: 600px; /* Restrict maximum width */
  padding: 0 10px; /* Padding for responsiveness */
  position: relative;
}

.insert{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 5px;
}

.input-bar {
  flex: 1; /* Allow the input to grow and fill available space */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
}

/* Button styling */
.input-button {
  background-color: #758BA5;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: 7px; /* Space between input field and button */
  cursor: pointer;
  font-size: 16px;
}

.input-button:hover {
  background-color: #00203F;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Makes the list items align horizontally */
  flex-wrap: wrap; /* Allows the items to wrap to the next line if they exceed the container width */
}

li{
  display: flex;
  align-items: center;
  width: 500px;
  height: 100px; /* Adjust height as needed */
  background-size: cover;
  background-position: center;
  margin: 50px; /* Space between rows */
  padding: 5px;
  border-radius: 10px;
  color: #00203F;
  position: relative; /* Relative positioning to position child elements absolutely */
  
}

.city-link{
  font-size: 30px;
  color: white;
  text-decoration: none;
}

.city-link:hover{
  color: #00203F;
}

.action-buttons{
  position: absolute; /* Absolute positioning for precise placement */
  top: 10px; /* Distance from the top edge of city-container */
  right: 10px; /* Distance from the right edge of city-container */
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove {
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  margin: 0;
}

.remove-bin {
  width: 24px; /* Adjust size as needed */
  height: 24px; /* Adjust size as needed */
  vertical-align: middle;
  
}

.remove-bin:hover{
  color: white;
}
