
<body>

  <div  class="home-link-container">
    <a [routerLink]="['/home']" class="home-link">Home</a>
  </div>
  <div class="insert">
    <section class="add-city-section">
      <input [(ngModel)]="newFavoriteCity" placeholder="Enter city name" />
      <button (click)="addFavoriteCity()">Add Favorite City</button>
    </section>

    <div class="favorite-list">
      <ul>
        <li *ngFor="let city of favoriteCities" >
          <div class="city-container">
 
         <div class="city-info">
         {{city.city}}
         </div>
         <div class="action-buttons">
          <button class="remove" (click)="deleteCity(city.id)">X</button>
         </div>
          <a [routerLink]="['/city', city.city]" class="city-link">></a>
        