
/* General Body Styles */
body {
  height: 100%;
  color: #00203F;
  margin: 0;
  font-family: Arial, sans-serif;

}

/* Navigation Bar Styles */
.nav-bar {
  background-color: #223A59;
  margin: 0%;
  padding: 0%;
  height: 70px;
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;
}

.nav-bar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.nav-bar a:hover {
  background-color: #00203F;
  color: white;
  height: 100%;
}

.nav-bar a:active {
  color: black;
}

/* Searching Container Styles */
.searching-container {
  display: flex;
  align-items: center; /* Vertically align items */
  margin: 20px auto; /* Center container horizontally */
  max-width: 600px; /* Restrict maximum width */
  padding: 0 10px; /* Padding for responsiveness */
  position: relative;
}

/* Input Field Styles */
.input-bar {
  flex: 1; /* Allow the input to grow and fill available space */
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
}

/* Button Styles */
.input-button {
  background-color: #223A59;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  margin-left: 7px; /* Space between input field and button */
  cursor: pointer;
  font-size: 16px;
}

.input-button:hover {
  background-color: #00203F;
}

/* Container for Favorite Cities */
.insert {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  margin-bottom: 40px;
  margin-top: 5px;
 
}


/* List Styles */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex; /* Makes the list items align horizontally */
  margin-left: 130px;
  flex-wrap: wrap; /* Allows the items to wrap to the next line if they exceed the container width */
}

/* City Card Styles */
.city-container {
  position: relative;
  overflow: hidden; /* Hide any overflow for the pop-up effect */
  width: 565px;
  height: 100%;
  margin: 60px;
  border-radius: 10px;
  background: linear-gradient(145deg, #1e3a52, #223a59);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

  
}


.city-container:before{
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255,255,255,0.1), rgba(255,255,255,0) 70%);
  opacity: 0.6;
  transform: rotate(45deg);
  transition: all 0.5s ease;
}

/* Pop-up Effect on Hover */
.city-container:hover{
  transform: scale(1.05); /* Slightly enlarge the card */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Add shadow for depth */
}

/* Style for Clickable Card Link */
.city-card-link {
  display: block;
  text-decoration: none;
  color: inherit;
  width: 100%;
  height: 100%;
}

/* Card Content Styling */
.city-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  color: white;
}

/* City Information Styling */
.city-info {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

/* City Link Styling */
.city-link {
  font-size: 30px;
  text-decoration: none;
  color: white;
}

.city-link:hover {
  color: #00203F;
}

/* Action Buttons Styling */
.action-buttons {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.remove {
  background: none;
  border: none;
  cursor: pointer;
}

.remove-bin {
  width: 24px;
  height: 24px;
}

.remove-bin:hover {
  opacity: 0.8; /* Optional: Add a transition effect for remove button hover */
}

.carousel-view {
  display: flex;
  align-items: center;
  margin: 20px 0;

}

.prev-button,
.next-button {
  background-color: #3b4a5a;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}


.forecast-hour-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  max-width: 100%;
  height: 150px;
  width: 92vw;
  font-weight: bold;
  font-size: 1em;
  padding-top: 5px;
  margin: 10px 0;

}

.forecast-hour-container::-webkit-scrollbar {
  display: none;
}


.forecast-hour{
  min-width: 100px;
  margin: 0 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color:#758BA5;
  text-align: center;
  border-radius: 10px;

}

