
<body>

  <nav class="nav-bar">
        <a [routerLink]="['/home']">Home</a>
  </nav>


  <div class="searching-container">
 
      <input [(ngModel)]="newFavoriteCity" placeholder="Enter city name" class="input-bar" />
      
      <button (click)="addFavoriteCity()" class="input-button">Add Favorite City</button>
  </div>

  <div class="insert">
      <ul>
        <li *ngFor="let city of favoriteCities" [ngStyle]="{'background-image': 'url(' + getRandomBackground() + ')'}" >
          <div class="city-container">
         <div class="city-info">

         </div>
         <div class="action-buttons">
          <button class="remove" (click)="deleteCity(city.id)">
          <img class="remove-bin" src="assets/recycle.png" alt="bin"/>
          </button>
         </div>
          <a [routerLink]="['/city', city.city]" class="city-link">{{city.city}}</a>
        