/* material-dialog.component.css */
.popup-container{
    background-color: white;
    height: 170px;
}
h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #223A59; /* Primary color */
    text-align: center;
   

  }
  
  div[mat-dialog-content] {
    font-size: 16px;
    color: white; /* Dark text color */
    margin-bottom: 10px;
    text-align: center;
  
  }
  
  div[mat-dialog-actions] {
    display: flex;
    justify-content: center;
   

  }
  
  button[mat-button] {
    background-color: #223A59; /* Primary color */
    color: white;
    border-radius: 4px;
    padding: 8px 16px;
    text-transform: uppercase;
    margin: 16px;
  }
  
  button[mat-button]:hover {
    background-color: #00203F; /* Darker primary color */
  }
  