
body{
  display: flex;
  position: relative;
background-image: url("assets/paul-pastourmatzis-KT3WlrL_bsg-unsplash.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(0.4px);
 width: 100%;
 height:100vh;
 border-radius: 4px;
align-items: center;
 justify-content: center;
 filter:brightness(25px);

}

.weather-all{
  background-image:url("assets/pexels-stywo-1146804.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 1000px;
  height: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 4px;
  padding-top: 10px;
  position: relative;
  
}

.search-section {
  text-align: center;
  height: 50px;
  width: 200px;
  margin-top: 5px;
  margin-bottom: 20px;

}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px; 
 
}

#search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  height: 40px;
  
  color: black;
}

#search-form button {
  padding: 10px 20px;
  border: none;
  background-color: #3b4a5a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#search-form button:hover {
  background-color: #0056b3;
}

.city-title {
  font-size: 2em;
  font-weight: bold;
}

.measurements {
  font-size: 1.2em;
  margin-top: 10px;
}

.measurements a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.measurements a:hover {
  color: #0056b3;
}

.weather-section{
 
  justify-content: flex-start;
  align-items: flex-end;
  padding: 10px;
  margin-left: 20px;
  position: absolute;
  left: 15px;
  margin-top: 50px;
  font-size: 1.3em;
  font-weight: bold;
}



.weather-humidity{
  font-size: 0.65em;

}
.weather-description{
  font-size: 0.65em;
  
}


.forecast-section{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.29);
}

.forecast-container{
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  max-width: 100px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.1); 
}

.forecast-hour{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-width: 100px;
}

.forecast-title{
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: bold;
}

.scroll-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.scroll-button.left {
  left: 10px;
}

.scroll-button.right {
  right: 10px;
}

.material-icons.forecast-icon {
  /* Existing styles for all icons */
  color: aliceblue; /* Example default color */
  font-size: 2em; /* Adjust icon size */
  margin-right: 5px;
}

.material-icons.forecast-icon.sunny-icon {
  color: yellow;
}

.daily-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  
}

.daily-container {
  display: flex;
  overflow-x: auto; /* Enables horizontal scrolling */
  scroll-behavior: smooth; /* Smooth scrolling */
  max-width: 100%;
  padding: 10px;
}

.daily-day {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  min-width: 100px;
}

.daily-title {
  margin-top: 10px;
  font-size: 1.5em;
  font-weight: bold;
}


