<div class = "navigation-bar">
  <a [routerLink]="['/home']" class="home-link">Home</a>
  <a [routerLink]="['/history']" class="history-link">Favourite Cities</a>

</div>

<div class="weather-all">

  <section class="container1">
    
    <div class="row">
      <form class="col" id="search-form"></form>

  
      <div class="search-container">
        <input type="text" name="cityName" class="search-input" placeholder="Enter a city name" [(ngModel)]="city">
        <button type="button" (click)="getWeather(); getForecastWeather(); getDailyWeather()" class="search-button">Search</button>
        <button  type="button" (click)="addFavoriteCity()" class="favorite-button" >Add City to Favorites</button>
        <button type="button" (click)="toggleTemperatureUnit()" class="toggle">
          {{ isCelsius ? 'Fahrenheit°' : 'Celcius°' }}
       </button>
      
      </div>
      

 
      <div *ngIf="isLoading" class="loading-indicator">
        Loading...
      </div>

      <div *ngIf="!isLoading">
        <div class="weatherr">
        <div class="weather-section" *ngIf="weatherData">
          <h2 class="weather-city">{{ weatherData.name }}</h2>
          <div class="weather-icon">
            <p><img src="{{ iconUrl }}" alt="weather-icon"></p>
          </div>
          <p class="weather-temp">{{ weatherData?.main?.temp | number:'1.0-1' }}° {{ isCelsius ? 'C' : 'F' }}</p>
          <p class="weather-description"> {{ weatherData.weather[0].description }}</p>
          <p class="weather-humidity">Humidity: {{weatherData.main.humidity}}</p>
          <p class="weather-pressure">Pressure: {{weatherData.main.pressure}}</p>
        </div>

        <section class="forecast-section" *ngIf="hourlyData && hourlyData.length">
          <h2 class="forecast-title">Hourly Forecast</h2>
          <div class="carousel-view">
            <button id="prev-button" class="prev-button" (click)="scrollLeft()"><</button>
            <div class="forecast-hour-container">
              <div class="forecast-hour" *ngFor="let hour of hourlyData">
                <p>{{ formatTime(hour.datetime) }}</p>
                <div class="forecast-temp">
                  <span class="material-icons">{{ getIcon(hour.icon) }}</span>
                  <p>{{ hour.temp | number:'1.0-1' }}° {{ isCelsius ? 'C' : 'F' }}</p>
                  <p>{{ hour?.description }}</p>
                  <p>Humidity: {{ hour.humidity }}</p>
                  <p>Conditions: {{ hour.conditions }}</p>
                  <p>City: {{city}}</p>
                </div>
              </div>
            </div>
            <button id="next-button" class="next-button" (click)="scrollRight()">></button>
          </div>
        </section>

        <section class="daily-section">
          <h2 class="daily-title">Daily Forecast</h2>
          <div class="carousel-view">
            <button id="previous-button" class="prev-button" (click)="scrollLeft2()"><</button>
            <div class="daily-container">
              <div class="daily-day" *ngFor="let day of dailyData">
                <div class="daily-temp">
                  <p>{{ day?.datetime}}</p>
                  <span class="material-icons">{{ getIcon(day.icon) }}</span>
                  <p>{{ day?.temp | number:'1.0-1' }}° {{ isCelsius ? 'C' : 'F' }}</p>
                  <p>Humidity: {{ day?.humidity }}</p>
                  <p>Conditions: {{ day?.conditions }}</p>
                </div>
              </div>
            </div>
            <button id="next-button2" class="next-button" (click)="scrollRight2()">></button>
          </div>
        </section>

      
      </div>
    </div>

</div>

