

.weather-all {
  background-color: #E0F7FA;
  background-image: url('assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  position: relative;
}

.top-buttons {
  position: absolute; /* Absolute positioning to place it at the top */
  top: 10px; /* Distance from the top of the parent */
  right: 20px; /* Distance from the right of the parent */
  display: flex; /* Align buttons horizontally */
  gap: 10px; /* Space between buttons */
}


.navigation-bar{
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #223A59;
  height: 50px;
  width: 100%;
  margin: 0%;
  display: flex;
  overflow: hidden;
  align-items: center;
  box-sizing: border-box;
  padding: 0 20px;


}

 .history-link, .home-link, .favcity-link{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.history-link:hover, .home-link:hover, .favcity-link:hover{
  background-color: #00203F;
  height: 100%;
}


.container1{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  width: 50%;
  margin-left: 360px;
  font-size: 40px;
  margin-top: 20px;

}

.search-input {
  flex: 1;
  height: 40px;
  border: none;
  padding: 5px 10px;
  flex: 1;
  font-size: 14px;
  border-radius: 10px;
  background-color: white;

}

.search-input:focus {
  outline: none;
}

.search-button, .favorite-button {

  background-color: #223A59;
  color: white;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 10px;
  height: 40px;
}

.toggle{
  background-color: #223A59;
  color: white;
  padding: 5px 10px;
  margin:5px;
  border-radius: 10px;
  height: 40px;
}

.toggle:hover, .search-button:hover, .favorite-button:hover{
  background-color: #0056b3;

}

.toggle:active, .search-button:active, .favorite-button:active{
  background-color: #758BA5;
}

.actions-container {
  display: flex;
  gap: 20px;
  margin-top: 0px;
}

.weather-section, .forecast-section, .daily-section {
  width: 90%;
  padding: 10px;
  text-align: center;
  background: linear-gradient(145deg, #1e3a52, #223a59);
  border-radius: 15px;
  color: white;
  margin: 40px auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
}

.weather-section:before, .forecast-section:before, .daily-section:before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255,255,255,0.1), rgba(255,255,255,0) 70%);
  opacity: 0.6;
  transform: rotate(45deg);
  transition: all 0.5s ease;
}

.weather-section:hover:before, .forecast-section:hover:before, .daily-section:hover:before {
  left: 100%;
  top: 100%;
}

.weather-city, .daily-title, .forecast-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 20px;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.weather-temp {
  font-size: 2.5em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.weather-icon, .material-icons {
  font-size: 4em;
  color: white;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.weather-description, .weather-humidity, .weather-pressure {
  font-size: 1.2em;
  color: white;
  margin-top: 10px;
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}

.forecast-hour-container, .daily-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  max-width: 100%;
  height: 240px;
  width: 95vw;
  font-weight: bold;
  margin: 10px 0;
}

.forecast-hour, .daily-day {
  min-width: 200px;
  margin: 0 15px;
  background-color: rgba(255, 255, 255, 0.1);
  text-align: center;
  border-radius: 15px;
  color: white;
  font-size: large;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.forecast-hour:hover, .daily-day:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.prev-button, .next-button {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.prev-button:hover, .next-button:hover {
  background-color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}











.weather-city {
  font-size: 2.5em;
  font-weight: bold;
  margin-bottom: 2px;
  color: white;
}

.weather-temp {
  font-size: 2em;
  font-weight: bold;
  color: white;
}

.weather-icon {
  font-size: 3em;
  font-weight: bold;
  color: white;
  margin-bottom: 2px;
}

.weather-description, .weather-humidity{
  font-size: 1.2em;
  color: white;
  margin-top: 5px;
}

.loading-indicator {
  text-align: center;
  font-size: 1.5em;
  margin-top: 20px;
}

.carousel-view {
  display: flex;
  align-items: center;
  margin: 20px 0;
}



.daily-title, .forecast-title {
  font-weight: bold;
  font-size: 1.4em;
  text-align: center;
  margin-bottom: 10px;
  color: #00203F;
}



.forecast-hour-container::-webkit-scrollbar, .daily-container::-webkit-scrollbar {
  display: none;
}

.forecast-hour, .daily-day {
  min-width: 180px;
  margin: 0 10px;
  background-color:#758BA5;
  text-align: center;
  border-radius: 10px;
  color: #00203F;
  font-size: large;
  font-weight: bold;

}

.material-icons{

  font-size: 40px;
 
}

