
body{
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 100%;

}

.weather-all{
  background-image:url("assets/pexels-stywo-1146804.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-top: 10px;
 
  
}

.search-section {
  text-align: center;
  margin-bottom: 20px;

}

#search-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 50px; 
 
}

#search-input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  height: 40px;
  
  color: black;
}

#search-form button {
  padding: 10px 20px;
  border: none;
  background-color: #3b4a5a;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#search-form button:hover {
  background-color: #0056b3;
}

.city-title {
  font-size: 2em;
  font-weight: bold;
}

.measurements {
  font-size: 1.2em;
  margin-top: 10px;
}

.measurements a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.measurements a:hover {
  color: #0056b3;
}

.weather-section{
 
  
  padding: 10px;
  margin-left: 20px;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
 max-width: 90%;
  left: 15px;
  margin-top: 50px;
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 20px;
}

.weather-temp{
  color: #3b4a5a;
  font-weight: bold;
  font-size: 2em;
}
.weather-humidity{
  font-size: 0.65em;

}
.weather-description{
  font-size: 0.65em;
  
}

.loading-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.carousel-view {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.prev-button,
.next-button {
  background-color: #3b4a5a;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.daily-title,.forecast-title{
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  margin-bottom: 10px;
}

.forecast-hour-container {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  max-width: 100%;
  height: 190px;
  width: 92vw;
  font-weight: bold;
}

.forecast-hour-container::-webkit-scrollbar, .daily-container::-webkit-scrollbar  {
  display: none;
}

.forecast-hour, .daily-day {
  min-width: 150px;
  margin: 0 10px;
  background-color: rgba(240, 240, 240, 0.15);
  padding: 9px;
  border: 1px solid rgba(240, 240, 240, 0.135);
  text-align: center;
 

}

.daily-container{
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  max-width: 100%;
  height: 190px;
  width: 92vw;
  font-weight: bold;
}


.material-icons.forecast-icon {
  /* Existing styles for all icons */
  color: aliceblue; /* Example default color */
  font-size: 2em; /* Adjust icon size */
  margin-right: 5px;
}



.material-icons.forecast-icon.sunny-icon {
  color: orange;
}

