
<body>

    <div class="weather-all">
    <section class="container1">
        <div class="row">
          <form class="col" id="search-form">
           <input type="text" name="cityName" placeholder="Enter a city name" [(ngModel)]="city">
            <button type="button" (click)="getWeather()">Search</button>
          </form>

    <div class="weather-section" *ngIf="weatherData" >
        <h2 class="weather-city">{{ weatherData.name }}</h2>
        <p class="weather-temp"> {{ weatherData.main.temp | number:'1.0-1'}}°C</p>
        
        <div class="weather-icon">
  
            <span class="material-icons forecast-icon" *ngIf="weatherData.main.temp > 200 ">wb_cloudy</span>
        </div>
        <p class="weather-humidity">Humidity: {{ weatherData.main.humidity }}%</p>
        <p class = "weather-description">Weather: {{weatherData.weather[0].description}}</p>
    </div>

    <div  class="forecast-section" *ngIf="hourlyData && hourlyData.length">
    <h2 class="forecast-title">Hourly Forecast</h2>
    <div class="forecast-hour" *ngFor="let hour of hourlyData">
      <p>{{ hour.datetime }}: {{ hour.temp | number:'1.0-1' }}°C</p>

    </div>